h1 {
  font-size: calc(2.7rem + 0.2vw);
}

h2 {
  margin-bottom: 2rem;
  font-size: calc(2rem + 0.2vw);
}

h3 {
  font-size: calc(1.4rem + 0.2vw);
  margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
  color: $secondary-color;
  text-transform: capitalize;
}

p {
  line-height: 1.7;
  color: $secondary-color;
}

p,
a,
li {
  font-size: calc(1.4rem + 0.4vw);
}
